<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/messages.css">

  <title>Listar Membros</title>
</head>
<body>
  <!-- INCLUDE -->
  <% if (success_msg) { %> 
    <div class="messages success"><p><%= success_msg %></p></div>
   <% } else if (error_msg) { %> 
     <div class="messages error"><p><%= error_msg %></p></div> 
   <% } %>  

  <h1>Lista de Membros</h1> <br>
  
  <a href="/"><button>Cadastrar</button></a> <hr>
  

    <% membro.forEach((membro) => {  %>
      <span>ID: </span><%=membro.id %> <br>
      <span>Nome:</span> <%=membro.nome%> <br>
      <span>Email: </span><%=membro.email %><br>
      <span>Telefone: </span><%=membro.telefone %><br>
      <span>Genero: </span><%=membro.sexo %><br>
      <span>Data Nasc: </span><%=membro.data_nasc %><br>
      <span>Cidade: </span><%=membro.cidade %><br>
      <span>Estado: </span><%=membro.estado %><br>
      <span>Endereco: </span><%=membro.endereco %><br>
      <span>Criado em: </span><%=membro.createdAt %><br> 
      <a href="/vis-membro/<%=membro.id %>"><button>Visualizar</button></a>
      <a href="/del-membro/<%=membro.id %>"><button>Apagar</button></a>
      <a href="/edit-membro/<%=membro.id %>"><button>Editar</button></a><hr> <br>
    <% }) %> 
 
</body>
</html>