<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOSTRAP -->
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Detalhe dos Membros</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">
        LOGO
        <!-- <img src="/images/logo_v2.png" altwidth="120" height="53"> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item menu">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="/membros">Membros</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="#">Blog </a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="#">Contato </a>
          </li>
        </ul>
        &ensp;<a href="/login" class="btn btn-secondary" >Login</a>
      </div>
      
    </div>
  </nav>
  <div class="container">
    <header>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom mt-5">
        <h1 class="h2">Detalhe dos Membros</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a href="/membros">
            <button type="button" class="btn btn-sm btn-outline-info ">
              Voltar
            </button>
          </a>
        </div>
      </div>
    </header>
    <table class="table table-bordered table-hover ">
      <tbody>
        <tr>
          <th>ID</th>
          <td><%=id %></td>
        </tr>
        <tr>
          <th>Nome</th>
          <td><%=nome%></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%=email%></td>
        </tr>
        <tr>
          <th>Telefone</th>
          <td><%=telefone%></td>
        </tr>  
        <tr>
          <th>Genero</th>
          <td><%=sexo%></td>
        </tr>
        <tr>
          <th>Data Nascimento</th>
          <td><%=data_nasc%></td>
        </tr>
        <tr>
          <th>Endereço</th>
          <td><%=endereco%></td>
        </tr>
        <tr>
          <th>Cidade</th>
          <td><%=cidade %></td>
        </tr>
        <tr>
          <th>Estado</th>
          <td><%=estado %></td>
        </tr>          
        
      </tbody>
    </table>
    <a href="/edit-membro/<%=id%>"><button type="button" class="btn btn-sm btn-outline-warning ">Editar</button></a>
    <a href="/del-membro/<%=id%>" data-bs-toggle="modal" data-bs-target="#apagarRegistro"><button type="button" class="btn btn-sm btn-outline-danger">Apagar</button></a>

    <!-- Modal -->
    <div class="modal fade" id="apagarRegistro" tabindex="-1"     aria-labelledby="apagarRegistroLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="exampleModalLabel">Excluir Usuário</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja excluir o usuário selecionado ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="/del-membro/<%=id%>">
              <button type="button" class="btn btn-primary">Apagar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
  <script src="/public/js/bootstrap.bundle.min.js"></script>

</body>
</html>
