<h1>Detalhe dos Membros</h1>

  <span>ID: </span><%=id %> <br>
  <span>Nome:</span> <%=nome%> <br>
  <span>Email: </span><%=email%><br>
  <span>Telefone: </span><%=telefone %><br>
  <span>Genero: </span><%=sexo %><br>
  <span>Data Nasc: </span><%=data_nasc %><br>
  <span>Cidade: </span><%=cidade %><br>
  <span>Estado: </span><%=estado %><br>
  <span>Endereco: </span><%=endereco %><br><br>
 
  <a href="/membros"><button>Listar</button></a>
  <a href="/edit-membro/<%=id %>"><button>Editar</button></a>
  <a href="/del-membro/<%=id %>"><button>Apagar</button></a>
